


@media (max-width:900px){
    .Navbar .Logo{
        scale: 0.7;
    }
    .Navbar li {
       text-decoration: underline;
        margin-right: 1%;
    }

    .CaseStudies h4 {
       
        font-size: 23px;
       
    }

    .SectorExpertise .Card h3{
        font-size: 12px;
    }
}
 @media (max-width:768px){



    h1 , span{
        font-size: clamp(1.563rem, 0.93rem + 2.75vw, 2.25rem) !important;
    }
   
    h3:not(.SectorExpertise ul h3){
        font-size: clamp(0.875rem, 0.472rem + 1.75vw, 1.313rem) !important;
    }

    .CaseStudies h4{
       font-size:  clamp(1.375rem, 0.34rem + 4.5vw, 2.5rem) !important;
    }
    .CaseStudies h3{
        font-size: (1.25rem, 1.02rem + 1vw, 1.5rem) !important;
    }


    .ContactUs h3{
        font-size: clamp(0.75rem, 0.405rem + 1.5vw, 1.125rem) !important;
    }
    footer h5{
font-size:clamp(1.063rem, 0.775rem + 1.25vw, 1.375rem)   !important;
    }








    .TechExpertise .Card {
        padding: 3%;
    }
    .TechExpertise .Card h3{
       font-size: 14px;
    }

   .TechExpertise .Cards .Card a, .SectorExpertise .Cards .Card, .Services .Cards .Card a{
    font-size: 12px;
   }

    .RoundIcon {
        padding: 4%;
    }
    .QuickLinks{
        margin: auto;
    }

    .Navbar .BlueButton{
        font-size: 8px;
        padding-left: 10%;
    }
    

.Process .Cards{
    margin-bottom: 4%;
    display: flex;
}
.Process .Card{
    order: 2;
}
.Process .col-md-2{
    order: 1;
}


    .RoundIcon1::after, .RoundIcon2::after{
        display: none;
    }
   
    *{
        line-height: unset !important;
    }
    .SectorExpertise .Card{
        margin-bottom: 2%;
    }
}

/* @media (max-width:576px){

   
/* h1,h5, span{
    font-size: 1.5rem !important;
}
h2{
    font-size: 1.2rem !important;
}
p, ul, li{
    font-size: 0.8rem !important;
} */



